@use "../../assets/styles/variable";

#site-theme {
  display: flex;
  flex-direction: column;
  gap: 1em;

  .input-container {
    display: flex;
    gap: 10px;
    align-items: center;
    font-family: variable.$secondary-font;
    font-weight: 500;

    input {
      cursor: pointer;
      accent-color: variable.$action-color;
    }
  }
}
