@use "../../assets/styles/variable";

#search-bar {
  width: 100%;
  margin: 0 auto;
  border: 2px solid var(--tertiary-bg);
  background: transparent;
  padding: 0.45em 0.7em;
  font-family: var(--secondary-font);
  border-radius: 44px;
  position: relative;

  input {
    max-width: 90%;
    width: min-content;
    font-size: 0.85rem;
    padding: 0.7em;
    background: transparent;
    border: none;
    outline: none;
    border-radius: 12px;
    color: var(--primary-color);

    &.active {
      color: var(--secondary-color);
      background: var(--tertiary-bg);
    }
  }

  svg {
    width: 22px;
    position: absolute;
    top: 50%;
    right: 12px;
    transform: translateY(-50%);
    cursor: pointer;

    circle {
      fill: var(--tertiary-bg);
    }
    path {
      fill: var(--secondary-bg);
    }
  }
}
