@use "../../assets/styles/variable";

#liked-blogs {
  display: flex;
  flex-direction: column;
  gap: 2.5em;

  h4 {
    font-weight: 500;
    font-size: 1.2rem;
    margin-bottom: -0.5em;
  }

  .blog-min-tile {
    display: flex;
    flex-direction: column;
    gap: 1em;

    h5 {
      font-size: 1rem;
      font-weight: 500;
      line-height: 120%;
      cursor: pointer;

      &:hover {
        transition: color linear 0.2s;
        color: var(--action-color);
      }
    }

    div {
      display: flex;
      gap: 1em;
      align-items: center;
      flex-wrap: wrap;
      row-gap: 10px;

      span {
        font-size: 0.75rem;

        &:nth-child(1):nth-last-child(3) svg {
          width: 12px;
          height: 18px;
          fill: var(--tertiary-bg);
        }
      }
    }
  }
}
