body.light {
  .comments-container {
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.2) !important;
  }
}

#comment-section {
  grid-row: 4;
  grid-column: 1/3;
  width: 860px;
  display: flex;
  flex-direction: column;
  gap: 3em;
  font-family: var(--primary-font);

  h4 {
    font-size: 1.5rem;
  }

  .comment-box {
    width: 100%;
    max-height: 900px;
    display: flex;
    flex-direction: column;
    gap: 4em;
    background: var(--primary-bg);
    border-radius: 4px;
    overflow-x: hidden !important;

    & > p {
      &:first-child {
        margin: 0 auto;
        margin-top: 2em;
      }

      width: fit-content;
      margin: 0 auto;
      font-size: 1.2rem;
      margin-bottom: 2em;
    }

    .comments-container {
      width: 100%;
      max-height: 790px;
      display: grid;
      grid-template-columns: minmax(200px, 650px);
      grid-template-rows: auto;
      row-gap: 3em;
      overflow-y: auto;
      justify-content: center;
      border-bottom: 0.5px solid rgba(255, 255, 255, 0.1);
      padding: 4em 0em 2em 0em;
      overflow-x: hidden;

      & > button {
        min-width: unset;
        width: fit-content;
        font-size: 0.9rem;
        border: none;
        color: var(--primary-color);
        padding: 0;
        padding-bottom: 6px;
        border-bottom: 1px solid var(--primary-color);
        border-radius: 0;

        &:hover {
          color: var(--action-color);
          border-bottom: 1px solid var(--action-color);
          background: none !important;
        }
      }

      &::-webkit-scrollbar {
        width: 5px;
      }

      &::-webkit-scrollbar-track {
        margin-top: 10px;
        border-radius: 50px;
        background-color: var(--primary-);
        width: 0px;
      }

      &::-webkit-scrollbar-thumb {
        background-color: var(--grey);
        border-radius: 16px;
      }

      & > p {
        font-size: 1.5rem;
        width: 100%;
        text-align: center;
      }

      .comment {
        grid-column: 1;
        width: 100%;
        display: flex;
        gap: 2em;
        align-items: flex-start;

        .user-avatar {
          grid-column: 1/2;
          width: 60px;
          aspect-ratio: 1;
          position: relative;
          border-radius: 50%;
          overflow: hidden;
          flex-shrink: 0;

          img {
            width: 100%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
        }

        .comment-body {
          grid-column: 2/3;
          display: flex;
          flex-direction: column;
          gap: 0.5em;

          .user-info {
            width: fit-content;
            display: flex;
            flex-direction: column;
            gap: 0.4em;

            h5 {
              font-size: 1.1rem;
              font-weight: 600;
            }
          }

          .comment-text {
            display: flex;
            flex-direction: column;
            gap: 1em;
            flex-wrap: wrap;
            overflow-x: hidden;

            p {
              display: flex;
              flex-wrap: wrap !important;
              font-size: 0.9rem;
              font-weight: 400;
              line-height: 140%;
            }
          }
        }
      }
    }

    button {
      font-size: 0.9rem;
      margin: -1em auto 0 auto;

      &:disabled {
        display: none;
      }
    }

    .comment-input {
      display: flex;
      background: var(--secondary-bg);
      padding: 1.5em 1.75em;
      width: 100%;
      max-width: 700px;
      margin: 0 auto;
      border-radius: 4px;
      gap: 2em;
      margin-bottom: 4em;
      position: relative;

      .user-avatar {
        width: 50px;
        height: 50px;
        position: relative;
        overflow: hidden;
        border-radius: 50%;
        flex-shrink: 0;

        img {
          width: 100%;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }

      form {
        width: 100%;
        display: flex;
        gap: 2em;
        align-items: center;

        textarea {
          width: 100%;
          max-width: 400px;
          min-height: 80px;
          max-height: 150px;
          background: transparent;
          outline: none;
          border: none;
          color: var(--primary-color);
          line-height: 140%;
          font-size: 0.9rem;
          font-family: var(--primary-font);

          &::placeholder {
            color: var(--primary-color);
            font-size: 0.9rem;
          }

          &::-webkit-scrollbar {
            width: 5px;
          }

          &::-webkit-scrollbar-track {
            border-radius: 50px;
            background-color: var(--primary-bg);
            width: 0px;
          }

          &::-webkit-scrollbar-thumb {
            background-color: var(--grey);
            border-radius: 16px;
          }
        }

        button {
          font-size: 0.8rem;
          padding: 0.5em 1em;
          width: fit-content;
          flex-shrink: 0;
          height: fit-content;
          &:disabled {
            display: block;
            opacity: 0.3;
            pointer-events: none;
          }
        }
      }

      #ui-loader {
        margin: 0 0 0 auto;
      }
    }
  }
}

@media screen and (max-width: 950px) {
  #comment-section {
    max-width: unset;
    width: 100%;
  }
}

@media screen and (max-width: 800px) {
  #comment-section {
    max-width: unset;
    width: 100%;
    gap: 2em;

    h4 {
      font-size: 1.25rem;
    }

    .comment-box {
      width: 100%;
      border-radius: 0px;
      background: unset;
      gap: 3em;

      .comment-input {
        padding: 1em;
        border-radius: 4px;
        background: var(--primary-bg);
        border: 1px solid rgba(109, 125, 139, 0.2);

        .user-avatar {
          display: none;
        }

        form {
          gap: 1em;
          align-items: center;

          textarea {
            max-width: unset;
            width: 100%;
          }

          button {
            max-width: min-content !important;
            padding: 0;
            margin: 0;
            padding-bottom: 6px;

            &:disabled {
              opacity: 0.5;
            }
          }
        }
      }

      .comments-container {
        gap: 2em;
        padding: 1em 0em 1.4em 0em;

        & > p {
          font-size: 1rem;
        }

        .comment {
          gap: 1em;

          .comment-body .comment-text p {
            font-size: 0.8rem;
          }

          .comment-body .user-info h5 {
            font-size: 0.9rem;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 650px) {
  #comment-section {
    .comment {
      padding-right: 10px;
    }
  }
}
