body.dark #initial-loader {
  background-color: #252627;
}
body.light #initial-loader {
  background-color: #ffff;
}

#initial-loader {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #252627;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: auto;
  z-index: 5;
}

#initial-loader > svg {
  width: 98%;
  max-width: 700px;
  display: block;
}

#initial-loader > svg {
  opacity: 0;
  animation: fill 3s linear forwards;
}

@keyframes fill {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
