@use "../../assets/styles/variable";

#user-blogs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2em;
  row-gap: 3em;

  & > p {
    font-size: 1.5rem;
    font-weight: 500;
  }

  &:has(.no-blog-para) {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .blog-tile:nth-last-child(2):first-child {
    grid-column: 1/3;
    margin: 0 auto;
  }

  .btn-container {
    width: 100%;
    grid-column: 1/3;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 4em;
    flex-wrap: wrap;
  }

  button {
    &:disabled {
      opacity: 0.3;
      pointer-events: none;
    }
  }
}

@media screen and (max-width: 1300px) {
  #manage-account-container {
    gap: 4em;

    #user-blogs {
      display: flex;
      flex-direction: column;
      gap: 4em;
      width: 100%;

      .blog-tile {
        flex-direction: row;
        align-items: center;
        max-width: unset;

        .blog-img {
          padding-bottom: 35%;
        }

        .blog-content {
          width: 100%;
          gap: 2em;
        }
      }
    }
  }
}

@media screen and (max-width: 1100px) {
  #manage-account-container #user-blogs {
    align-items: center;
    .blog-tile {
      flex-direction: column;
      align-items: unset;
      max-width: 450px;

      .blog-img {
        padding-bottom: 65%;
      }

      .blog-content {
        gap: 1em;
      }
    }
  }
}

@media screen and (max-width: 800px) {
  #user-blogs {
    .blog-tile {
      max-width: 550px;
      display: flex;
      column-gap: 0em;
      row-gap: 0em;
      gap: 1em;

      .blog-img {
        width: unset;
      }

      h3 {
        align-self: unset;
      }

      .info {
        gap: 1.2em;
        align-items: center;
      }
    }
    .btn-container {
      padding-top: 1em;
    }
  }
}

@media screen and (max-width: 640px) {
  #manage-account:has(#user-blogs) {
    padding-top: 8em;

    #manage-account-aside {
      padding: 1em !important;
    }
  }
}
