.hero-skeleton {
  h1 {
    min-width: 100%;
    min-height: 60px;
  }

  p {
    min-width: 100%;
    min-height: 120px;
  }

  div:last-child {
    width: 80%;
  }

  .skeleton {
    background-color: var(--secondary-bg);
  }
}
