@use "../../../assets/styles/variable";

.blog-min-tile-skeleton-container {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
#blog-min-tile-skeleton {
  min-width: 100%;

  h5 {
    min-width: 100%;
    min-height: 40px;
  }

  div {
    min-width: 100%;
    min-height: 20px;
  }

  .skeleton {
    display: inline-block;
    height: 1em;
    position: relative;
    overflow: hidden;
    background-color: var(--secondary-bg);

    &::after {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      transform: translateX(-100%);
      background-image: linear-gradient(
        90deg,
        rgba(var(--primary-bg, 0)) 0,
        rgba(var(--primary-bg, 0.2)) 20%,
        rgba(var(--primary-bg, 0.5)) 60%,
        rgba(var(--primary-bg, 0))
      );
      animation: shimmer 1.25s infinite;
      content: "";
    }

    @keyframes shimmer {
      100% {
        transform: translateX(100%);
      }
    }
  }
}
