#socials {
  display: flex;
  flex-direction: column;
  gap: 1em;
  color: var(--primary-color);

  h3 {
    font-size: 1.2rem;
    font-weight: 500;
  }

  ul {
    display: flex;
    align-items: flex-start;
    gap: 1.75em;

    li {
      width: 24px;
      height: 24px;
      display: flex;
      align-items: center;
      justify-content: center;
      &:hover {
        svg {
          width: 20px;
        }
      }
    }

    svg {
      width: 100%;
      transition: all linear 0.1s;
    }
  }
}
