// Font Types
$primary-font: "Barlow", sans-serif;
$secondary-font: "Mulish", sans-serif;

// Colors
$black: #252627;
$off-black: #2a2a2a;
$white: #ffffff;
$off-white: #f8f8f8;
$orange: #ff3f00;
$off-orange: #f35f44;
$green: #4e8d50;
$red: #ed455d;
$grey: #6d7d8b;
$off-grey: #dedede;
$extra-off-grey: #dae3ea;
$blue: #5a4ff3;

// Font colors
$primary-color: $white;
$secondary-color: $black;
$tertiary-color: $off-grey;
$quaternary-color: $grey;
$action-color: $off-orange;

// Background colors
$primary-bg: $off-black;
$secondary-bg: $black;
$tertiary-bg: $white;
$quaternary-bg: $grey;
