@use "./variable";
@use "../../layouts/home_page_aside/home_aside";
@use "../../features/blog_content/blogContent";
@use "../../features/comment_tile/commentTile";

#blog-page {
  width: 100%;
  background: var(--secondary-bg);
  color: var(--primary-color);
  padding: 6em;

  #blog-container {
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: center;
    gap: 6em;
  }

  #similar-blogs {
    margin-top: 4em;
    grid-column: 1/3;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    column-gap: 2em;
    row-gap: 2em;

    h4 {
      font-size: 1.5rem;
      grid-column: 1/4;
    }
    & > p {
      grid-column: 1/4;
      font-size: 1.5rem;
      text-align: center;
      color: var(--tertiary-color);
      opacity: 0.8;
    }
  }
}

@media screen and (max-width: 640px) {
  #blog-page {
    padding: 8em 0em;
    padding-bottom: 6em;

    #blog-container {
      display: flex;
      flex-direction: column;
      gap: 0em;
      padding: 0;
    }

    #similar-blogs {
      display: flex;
      flex-direction: column;
      padding: 5em 0em;

      h4 {
        font-size: 1.25rem;
      }

      .blog-tile {
        margin-bottom: 2em;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}
