@use "./variable";
@use "../../features/blog_creator/blogCreator";

#create-blog-page {
  width: 100%;
  padding-top: 4em;
  padding-bottom: 15em;
  background: var(--secondary-bg);

  #create-blog-container {
    & > div {
      display: flex;
      align-items: center;
      gap: 15px;
      padding-top: 2em;
      cursor: pointer;

      svg {
        width: 20px;

        path {
          fill: var(--secondary-bg);
        }

        circle {
          fill: var(--tertiary-bg);
        }
      }

      span {
        font-size: 0.9rem;
      }
    }
  }
}
