@use "button";
@use "logo";
@use "container";
@use "social";
@use "blog_tile";
@use "../../layouts/navigation/navigation";
@use "../../layouts/footer/footer";

*,
*::before,
*::after {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  transition: background-color 0.25s linear 0.25s, color 0.15s linear 0s;
}

html {
  font-family: var(--primary-font);

  font-size: clamp(20px, 5vw, 16px);
}

body {
  overflow-x: hidden !important;
  color: var(--primary-color);
  &::-webkit-scrollbar {
    width: 12px;
  }

  &::-webkit-scrollbar-track {
    background-color: var(--primary-bg);
    width: 0px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--grey);
    border-radius: 16px;
  }
}
header {
  background: var(--primary-bg);
}

ul {
  list-style: none;
}

button {
  width: fit-content;
}

svg {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}
