@use "../../assets/styles/variable";
@use "../../features/search/search";
@use "../../features/site_theme/theme";
@use "../../features/blog_categories/category";
@use "../../features/liked_by_others/liked_blogs";

#home-page-aside {
  grid-column: 1/2;
  width: 100%;
  width: 336px;
  flex-shrink: 0;
  height: fit-content;
  padding: 2em 2em 3em 2em;
  background: var(--primary-bg);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  gap: 5em;
  position: relative;
  left: -50px;

  #service-modal {
    display: flex;
    flex-direction: column;
    gap: 1.2em;

    h3 {
      font-size: 1.2rem;
      font-weight: 500;
    }
    button {
      margin: 0;
    }
  }
}

@media screen and (max-width: 1350px) {
  #home-page-aside {
    left: 0;
  }
}

@media screen and (max-width: 850px) {
  #home-page-aside {
    display: none;
  }
}
